@font-face {
  font-family: BeatrixAntiqua;
  src: url(../fonts/Beatrix\ Antiqua\ Light-trial.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

header {
  background-color: #e9e6e6;
}

.navbar {
}

.navbar > .container-fluid {
  height: 74px;
  background-color: #000;
  justify-content: center;
}

.navbar-brand {
  margin-right: 58px;
}
.navbar-toggler {
}
.navbar-toggler-icon {
  color: #e9e6e6;
}
.collapse {
}
.navbar-collapse {
  display: flex;
  flex-grow: 0;
}
.navbar-nav {
  justify-content: space-between;
  gap: 20px;
}
.nav-link {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #e9e6e6;
}

.nav-link:hover {
  color: #bb8d37;
}
.nav-link:active {
  color: #bb8d37;
}

/* ___________________________________ */

.promo {
  position: relative;
  z-index: 3;
  background-color: #e9e6e6;
  background: url('../assets/logo/promo-background.svg') center center/cover
    no-repeat;
}

.promo_container {
  display: flex;
  width: 100%;
}

.promo_img {
  margin-left: 77px;
  width: 548px;
}

.promo_descr {
  width: 100%;
  margin-top: 105px;

  display: flex;
  flex-direction: column;
}

.descr_text {
  width: 545px;
}
.descr_title {
  display: flex;
  margin-bottom: 31px;
}
.titles {
  display: flex;
  flex-direction: column;
}
.titles_num {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number {
  font-family: Montserrat;
  font-size: 20px;
  text-align: left;
  color: #5c5956;
}
.titles_name {
  font-family: BeatrixAntiqua;
  font-size: 75px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
}

.titles_sub {
  width: 283px;
  font-family: BeatrixAntiqua;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bb8d37;
}
.stamp {
  width: 100%;
  height: auto;
  position: relative;
  left: 45px;
}
.descr_text {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.19px;
  text-align: left;
  color: #5c5956;
}
.QR {
  margin-top: 32px;
  margin-left: 391px;
}
.promo_twigs {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 675px;
  right: 0;
  gap: 1000px;
}

.price_twig {
  position: absolute;
  z-index: 10;
  top: 84%;
  right: 0;
}
/* _______________________________________________________ */

.price {
  width: 100%;
  position: relative;
  top: -205px;
  z-index: 2;
  display: flex;
  align-items: center;
  background: url('../assets/logo/background\ prices.svg') center center/cover
    no-repeat;
}

.price_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 650px;
  margin-top: 275px;
  margin-bottom: 69px;
}

.price_title {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.07;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
}

.price_list_title {
  margin-bottom: 21px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
}

.price_items li {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #bb8d37;
}

/* ______________________SLIDER_________________________________ */
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 246px;
  z-index: 1;
  width: 100%;
  height: 963px;
  background: url('../assets/our\ works\ background.svg') center center/cover
    no-repeat;
}

.slider_container {
  position: relative;
  top: 275px;
  max-height: 571px;
}

.slider_title {
  background-image: radial-gradient(circle at 18% 51%, #e3d3b6, #bb8d37 78%);
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

.img_list {
  width: 100%;
  height: 383px;
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}
.img_list::-webkit-scrollbar {
  display: none;
}

.slider_scrollbar {
  width: 100%;
  height: 22px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.scrollbar_track {
  width: 100%;
  height: 4px;
  background-color: #e9e6e6;
  border-radius: 4px;
  position: relative;
  margin-right: 30px;
}
.scrollbar_thumb {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #bb8d37;
  border-radius: inherit;
  cursor: grab;
}

.scrollbar_thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.scrollbar_thumb::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.slide_prev {
  margin-right: 20px;
}
.fa-solid {
  color: #bb8d37;
}
.fa-chevron-left {
  margin-right: 20px;
}
.slide_button {
  border: none;
  outline: none;
  background: none;
}
/* ________________________________Knowledge - Accordion_____________________________ */

.knowledge {
  position: relative;
  top: -246px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 51% 98%, #fff, #bbb1b2 203%);
  padding-bottom: 40px;
}

.knowledge_title {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
  margin-bottom: 50px;
  margin-top: 70px;
}
.accordion {
  max-width: 983px;
  margin: 0 auto;
}
.accordion-flush {
}
.accordion-item {
  background: none;
}
.accordion-header {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
  margin-top: 65px;
}
.preparation_title {
}
.accordion-button {
  background: none;
}
.collapsed {
}
.accordion-collapse {
}
.collapse {
}
.accordion-body {
}
.preparation_body {
}
.preparation_list {
}
.preperetion_item {
}
.care_title {
}
.care_body {
}
.care_list {
}
.care_item {
}
.contr_title {
}
.contr_body {
}
.contr_list {
}
.contr_item {
}
/* __________________________________________________________________ */

@media (max-width: 1401px) {
  .nav-link {
    font-size: 18px;
  }
  .navbar-nav {
    gap: 0px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .promo_img {
    margin-left: 0;
  }
}

@media (max-width: 1317px) {
  .promo_container {
  }

  .promo_descr {
  }

  .descr_text {
    width: 300px;
  }
  .descr_title {
    display: flex;
    margin-bottom: 31px;
    flex-wrap: wrap;
  }
  .titles {
    display: flex;
    flex-direction: column;
  }
  .titles_num {
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .number {
    font-family: Montserrat;
    font-size: 20px;
    text-align: left;
    color: #5c5956;
  }
  .titles_name {
    font-family: BeatrixAntiqua;
    font-size: 75px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5c5956;
  }

  .titles_sub {
    width: 283px;
    font-family: BeatrixAntiqua;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #bb8d37;
  }
  .stamp {
    width: 100%;
    height: auto;
    position: relative;
    left: 45px;
  }
  .descr_text {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.19px;
    text-align: left;
    color: #5c5956;
  }
}

@media (max-width: 992px) {
  .navbar > .container-fluid {
    justify-content: space-between;
  }
}
