@font-face {
  font-family: BeatrixAntiqua;
  src: url(../fonts/Beatrix\ Antiqua\ Light-trial.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  max-width: 1644px;
  /* background-color: black; */
}
main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

a:visited,
a:hover,
a:active,
a:focus {
  color: #bb8d37;
}

header {
  background-color: #e9e6e6;
}

.navbar {
  padding: 0;
}

.burger-icon,
.close-icon {
  width: 35px;
  height: 35px;
}

.d-none {
  display: none;
}

.container-fluid {
  color: #e9e6e6;
  background-color: #000;
  padding-left: 57px;
}

.navbar-collapse {
  margin-left: 58px;
}

.navbar-nav {
  gap: 40px;
}
.navbar-nav .nav-item .nav-link {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #e9e6e6;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #bb8d37;
  border-bottom: 2px solid #bb8d37;
}
/* _______________Promo____________________ */

.promo {
  position: relative;
  z-index: 3;
  background-color: #e9e6e6;
  background: url('../assets/logo/promo-background.svg') center center/cover
    no-repeat;
}

.promo_container {
  display: flex;
  width: 100%;
}

.promo_img {
  margin-left: 77px;
  width: 548px;
}

.promo_descr {
  width: 100%;
  margin-top: 105px;

  display: flex;
  flex-direction: column;
}

.descr_text {
  width: 545px;
}
.descr_title {
  display: flex;
  margin-bottom: 31px;
}
.titles {
  display: flex;
  flex-direction: column;
}
.titles_num {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number {
  font-family: Montserrat;
  font-size: 20px;
  text-align: left;
  color: #5c5956;
}
.titles_name {
  font-family: BeatrixAntiqua;
  font-size: 75px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
}

.titles_sub {
  width: 283px;
  font-family: BeatrixAntiqua;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bb8d37;
}
.stamp {
  width: 100%;
  height: auto;
  position: relative;
  left: 45px;
}
.descr_text {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.19px;
  text-align: left;
  color: #5c5956;
}
.QR {
  position: absolute;
  top: 75%;
  left: 75%;
}
.promo_twigs {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 675px;
  right: 0;
  gap: 1000px;
}

.price_twig {
  position: absolute;
  z-index: 10;
  top: 84%;
  right: 0;
}
/* _______________________________________________________ */

.price {
  width: 100%;
  position: relative;
  top: -205px;
  z-index: 2;
  display: flex;
  align-items: center;
  background: url('../assets/logo/background\ prices.svg') center center/cover
    no-repeat;
}

.price_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 650px;
  margin-top: 275px;
  margin-bottom: 69px;
}

.price_title {
  position: relative;
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.07;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
}

.price_title::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 134.9px;
  height: 2px;
  background-image: linear-gradient(to right, #f5da8d 35%, #b78e43 85%);
}

.price_list_title {
  margin-bottom: 21px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
}

.price_items li {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #bb8d37;
}

/* ______________________SLIDER_________________________________ */
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 246px;
  z-index: 1;
  width: 100%;
  height: 963px;
  background: url('../assets/our\ works\ background.svg') center center/cover
    no-repeat;
}

.slider_container {
  position: relative;
  top: 275px;
  max-height: 571px;
}

.slider_title {
  background-image: radial-gradient(circle at 18% 51%, #e3d3b6, #bb8d37 78%);
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

.img_list {
  width: 100%;
  height: 383px;
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}
.img_list::-webkit-scrollbar {
  display: none;
}

.slider_scrollbar {
  width: 100%;
  height: 22px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.scrollbar_track {
  width: 100%;
  height: 4px;
  background-color: #e9e6e6;
  border-radius: 4px;
  position: relative;
  margin-right: 30px;
}
.scrollbar_thumb {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #bb8d37;
  border-radius: inherit;
  cursor: grab;
}

.scrollbar_thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.scrollbar_thumb::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.slide_prev {
  margin-right: 20px;
}
.fa-solid {
  color: #bb8d37;
}
.fa-chevron-left {
  margin-right: 20px;
}
.slide_button {
  border: none;
  outline: none;
  background: none;
}
/* ________________________________Knowledge - Accordion_____________________________ */

.knowledge {
  position: relative;
  z-index: 2;
  top: -246px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 51% 98%, #fff, #bbb1b2 203%);
  padding-bottom: 155px;
}

.knowledge_rose {
  position: absolute;
  right: 0;
  top: -100px;
}

.knowledge_title {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
  margin-bottom: 50px;
  margin-top: 70px;
}
.accordion {
  max-width: 983px;
  margin: 0 auto;
}
.accordion-flush {
}
.accordion-item {
  background: none;
}
.accordion-header {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
  margin-top: 65px;
}
.preparation_title {
}
.accordion-button {
  background: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #5c5956;
}

.list_title {
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
}
.list_title::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -45px;
  width: 34px;
  height: 34px;
  background: url('../assets/marker.svg') center center/cover no-repeat;
}

.accordeon_list,
.care_repeat,
li {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.16px;
  text-align: left;
  color: #535a64;
}

.care_repeat {
  margin-bottom: 20px;
}
/* ______________________________Certificate_____________________________ */
.certificate {
  position: relative;
  z-index: 3;
  top: -370px;
  width: 100%;
  height: auto;
  background: url('../assets/background\ certificate.svg') center center/cover
    no-repeat;
  padding-top: 151px;
  padding-bottom: 64px;
}

.certificate_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.title_certificate {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
}
.img_certificate {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order_certificate {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: left;
  color: #bb8d37;
}
.certificate_phone {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: left;
  color: #bb8d37;
}

/* __________________________________reviews____________________________ */
.reviews {
  position: relative;
  background: #535a64;
  padding: 20px;
  background: url('../assets/reviews/картинка\ ОТЗЫВЫ.png') center center/cover
    no-repeat;
  top: -388px;
  padding-bottom: 238px;
}
.title_reviews {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
  margin-top: 160px;
  margin-bottom: 108px;
}

.left-twig {
  position: absolute;
  top: 10%;
  left: 2%;
  z-index: 2;
}

.text-reviews {
  position: absolute;
  top: 35%;
  left: 50%;
}

.carousel-reviews {
  position: relative;
  padding: 10px;
  width: 78%;
  height: auto;
  max-width: 698px;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: start;
}

.phone_wrapper {
  position: absolute;
  top: 39%;
  left: 1.5%;
  width: 228px;
  height: 460px;
}

.carousel-slide {
  width: 100%;
  max-width: 263px;

  max-height: 567px;
  flex: 0 0 30%;
  margin: 0 10px;
  opacity: 0.7;
  transform: scale(0.9);
  transition: transform 0.5s, opacity 0.5s;
}

.carousel-slide.active {
  transform: scale(1);
  opacity: 1;
  /* margin-right: 30px; */
}

.phone-frame {
  width: 100%;
  max-width: 263px;

  max-height: 567px;
  padding-top: 200%;
  /* background-color: #fff; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.phone-frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* .carousel-controls button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
} */

/* .carousel-controls button:hover {
  background-color: #444;
}
/* ________________________________ACTION__________________________________ */

.action {
  top: -50%;
  position: relative;
}
.action_twig {
}
.container {
}
.action_title {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
  margin-top: 85px;
  margin-bottom: 50px;
}
.action_pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  /* gap: 20px; */
}
/* .banner {
  max-width: 984px;
  max-height: 670px;
} */
.banner {
  width: 50%;
  height: auto;
}
.action_img {
  width: 23%;
  height: auto;
}
.golden_face {
  margin-left: 25%;
}

/* 
_________________________________About___________________________________ */
.about {
  position: relative;
  top: -65%;
  z-index: 2;
}

.about_title {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
  margin-bottom: 57px;
}
.about_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.about_img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.about_item {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.19px;
  text-align: left;
  color: #5c5956;
  margin-bottom: 15px;
}
.about_list {
  list-style-type: none;
}
.about_list::before {
  content: '';
  display: block;
  position: absolute;
  width: 135px;
  height: 2px;
  background-image: linear-gradient(to right, #f5da8d 35%, #b78e43 85%);
  left: 52%;
  top: 15%;
}

.about_link {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: -0.2px;
  /* text-align: left; */
  color: #bb8d37;
  margin-left: 28px;
}
.about_rose {
  position: absolute;
  top: 90%;
  right: 2%;
}
.about_number {
  position: relative;
  z-index: 2;
}
/* __________________________________Contact__________________________________ */
.contact {
  position: relative;
  top: -41%;
  z-index: 2;
}

.instagram {
  position: relative;
  left: 45%;
}

.contact_title {
  font-family: BeatrixAntiqua;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #5c5956;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.contacts_logos {
  display: flex;
  flex-direction: column;
}

.contact_content {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  gap: 115px;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts_input {
  display: flex;
  justify-content: left;
  align-items: center;
}

.instagram_input {
  display: none;
}
.icon {
  position: relative;
  left: 7%;
}

.viber {
  position: relative;
  left: -78%;
}
.contact_phone {
  position: relative;
  left: 48%;
}

.input_text {
  width: 350px;
  height: 38px;
  padding-left: 32px;
  padding: 10px;
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.09);
  background-color: #fff;
  border-radius: 25px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.19px;
  text-align: center;
  color: #5c5956;
}
.text_phone {
  text-align: left;
  padding-left: 35px;
}
.insta {
  display: flex;
  justify-content: center;
}

.inst {
  display: none;
}
.map > iframe {
  width: 600px;
  height: auto;
  min-height: 350px;
}
/* _________________________________________________________________________ */

.footer {
  position: relative;
  bottom: 30%;
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #e9e6e6;
}
.footer_link {
  position: fixed;
  bottom: 0;
  right: 10%;
  bottom: 3%;
  z-index: 10;
}

/* _________________________________________________________________________ */
@media (max-width: 1401px) {
  .nav-link {
    font-size: 18px;
  }
  .navbar-nav {
    gap: 0px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .promo_img {
    margin-left: 0;
  }
}

@media (max-width: 1317px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
  .navbar-collapse {
    margin-left: 35px;
  }

  .navbar-nav {
    gap: 0;
  }
  .promo_container {
  }
  .promo_twigs {
    display: none;
  }
  .promo_descr {
  }
  .about_us {
    flex-wrap: wrap;
    justify-content: center;
  }

  .descr_text {
    width: 300px;
  }
  .descr_title {
    display: flex;
    margin-bottom: 31px;
    flex-wrap: wrap;
  }
  .titles {
    display: flex;
    flex-direction: column;
  }
  .titles_num {
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .number {
    font-family: Montserrat;
    font-size: 20px;
    text-align: left;
    color: #5c5956;
  }
  .titles_name {
    font-family: BeatrixAntiqua;
    font-size: 75px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5c5956;
  }

  .titles_sub {
    width: 283px;
    font-family: BeatrixAntiqua;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #bb8d37;
  }
  .stamp {
    width: 100%;
    height: auto;
    position: relative;
    left: 45px;
  }
  .descr_text {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.19px;
    text-align: left;
    color: #5c5956;
  }
}

@media (max-width: 1025px) {
  .navbar > .container-fluid {
    justify-content: center;
  }
  .about_img {
    display: none;
  }

  .about {
    top: -35%;
  }
  .about_us {
    flex-wrap: nowrap;
    gap: 20px;
    align-items: start;
  }
  .about_list::before {
    display: none;
  }
  .titles_num {
    display: none;
  }
  .stamp {
    display: none;
  }
  .QR {
    left: 47%;
  }
  .price_list {
    position: relative;
    left: -15%;
  }
  .scrollbar_track {
    display: none;
  }
  .slider_scrollbar {
    justify-content: center;
  }
  .reviews {
    padding-bottom: 50px;
  }
  .action {
    top: -50%;
  }
  .golden_face {
    display: none;
  }

  .contacts_logos {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    left: 0;
  }
  .contact_inst {
    position: relative;
    top: 50%;
  }
  .contact_content {
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .contacts_input {
    display: flex;
    justify-content: center;
  }
  .instagram_input {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar > .container-fluid {
    justify-content: space-between;
  }

  .promo_img {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  .promo_container {
    justify-content: center;
  }

  .QR {
    display: none;
  }
  .about_us {
    flex-wrap: wrap;
  }
  .img_certificate {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .price_list {
    left: 0;
  }
}

@media (max-width: 860px) {
  .descr_text {
    width: 100%;
  }
  .titles_sub {
    width: 100%;
  }

  .reviews {
  }
}

@media (max-width: 991px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .price_title::before {
    top: 80%;
    left: 41%;
  }
  .price {
    background: url('../assets/price/Rectangle.svg') center center/cover
      no-repeat;
  }

  .price_list {
    /* display: flex;
    flex-direction: column;
    gap: 30px; */
    width: 100%;
    /* margin-top: 275px; */
  }
  .phone_wrapper {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 228px;
    height: 460px;
  }
  .text-reviews {
    display: none;
  }

  .reviews {
    top: -450px;
  }
  .title_reviews {
    margin-top: 80px;
    margin-bottom: 70px;
  }

  .carousel_phone {
    position: relative;
    left: 32%;
    top: -79px;
    width: 200px;
    height: 519px;
    overflow: hidden;
  }

  .carousel-reviews {
    position: relative;
    padding: 10px;
    width: 78%;
    height: auto;
    max-width: 698px;
    overflow: hidden;
  }

  .carousel-wrapper {
    position: relative;
    left: -1%;
    top: 17%;
  }

  .carousel-slide {
    width: 263px;

    height: 567px;
    flex: 0 0 30%;
    margin: 0 10px;
    opacity: 0.7;
    transform: scale(0.9);
    transition: transform 0.5s, opacity 0.5s;
  }

  .phone-frame {
    width: 185px;
  }

  .carousel-controls {
    position: relative;
    top: -60px;
    gap: 40px;

    margin-top: 0;
  }

  .action {
    top: -75%;
  }

  /* .footer_link {
    right: 40%;
  } */
  .promo_container {
    flex-wrap: wrap-reverse;
  }

  .promo_descr {
    margin-top: 50px;
  }

  .titles_num {
    display: flex;
  }

  .promo_pict {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
  }

  .map > iframe {
    width: 1fr;
    height: auto;
    min-height: 350px;
  }

  .img_certificate img,
  .about_img_hero img,
  .about_img img {
    width: 100%;
  }

  /* .about_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  } */
  .about_img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .action_img {
    display: none;
  }
  .action_pic {
    justify-content: center;
  }
  .banner {
    width: 100%;
    height: auto;
  }

  .insta {
    display: none;
  }

  .instagram_input {
    display: flex;
  }
}

@media (max-width: 600px) {
  .carousel-controls {
    left: 7%;
  }
  .map > iframe {
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  .price_twig {
    display: none;
  }
  .footer_link {
    right: 20%;
  }
}

@media (max-width: 451px) {
  .left-twig {
    display: none;
  }
  .carousel_phone {
    left: 10%;
  }
  .phone_wrapper {
    left: 8%;
  }
  .carousel-controls {
    left: -7%;
  }
  .viber {
    position: absolute;
    left: 81%;
    top: 33%;
  }
}
@media (max-width: 431px) {
  .input_text {
    width: 278px;
    font-size: 15px;
  }
  .viber {
    left: 72%;
  }
  .action {
    top: -52%;
  }
  .about {
    top: -52%;
  }
  .footer_link {
    bottom: 2%;
    right: 10%;
  }
}
@media (max-width: 426px) {
  .contact_content {
    gap: 15px;
    width: 100%;
    padding-left: 29px;
  }

  .input_text {
    width: 100%;
    height: auto;
  }
  .input_text {
    width: 250px;
    height: 43px;
    padding-left: 0px;
    font-size: 14px;
    text-align: center;
  }
  .viber {
    left: 76%;
    top: 33%;
  }

  .icon {
    left: 9%;
  }

  .contacts_logos {
    position: relative;
    left: -41px;
  }
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 376px) {
  .carousel-controls {
    left: 3%;
  }
  .footer_link {
    right: 10%;
    top: 91%;
  }
}

@media (max-width: 350px) {
  .carousel_phone {
    left: -9%;
  }
  .phone_wrapper {
    left: -2px;
  }
  .carousel-controls {
    left: 4%;
  }
  .contacts_input {
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  .carousel_phone {
    left: 0;
  }
  .action_title {
    font-size: 42px;
  }
  /* .icon,
  .contact_phone,
  .viber {
    position: static;
  }
  .input_text {
    position: relative;
    left: -38px;
    z-index: -1;
    width: 200px;
    height: 53px;
    padding-left: 0px;
    font-size: 10px;
    text-align: center;
  }
  .viber {
    left: 67%;
    top: 33%;
  } */
}
